main{
    /* background-color: rgb(210, 200, 188); */
    background-color: #f7f3ec;
    padding-top: 100px;
    padding-bottom: 50px;
}

#brand_name{
    color: rgb(133, 109, 87);
    margin-left: 30px;
    font-family: Pretendard ExtraBold;
    font-size: 30px;
}
.nav-link{
    color: rgb(133, 109, 87);
    margin-left: 10px;
    font-family: Pretendard ExtraBold;
    font-size: 20px;
}
.nav-link:hover{
    background-color: rgb(210, 200, 188);
    border-radius: 4px
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.item1{
    width: 100%;
    text-align: center;
}
.item2{
    width: 100%;
    text-align: center;
}
.item3{
    padding-top: 20px;
    width: 100%;
    
    font-family: Pretendard SemiBold;
    color: rgb(107, 92, 73);
}
#know_text{
    color: rgb(107, 92, 73);
    font-family: Pretendard ExtraBold;
    font-size: 20px;
}
#know_text2{
    color: rgb(107, 92, 73);
    font-family: Pretendard ExtraBold;
    font-size: 40px;
}
#img{
    width:100%;
}
.strong{
    color: rgb(107, 92, 73);
    font-family: Pretendard ExtraBold;
}

