body{
    background-color: rgb(210, 200, 188);
}
main{
    background-color: rgb(210, 200, 188);
    padding-top: 100px;
    padding-bottom: 100px;
}

#brand_name{
    color: rgb(133, 109, 87);
    margin-left: 30px;
    font-family: Pretendard ExtraBold;
    font-size: 30px;
}
.nav-link{
    color: rgb(133, 109, 87);
    margin-left: 10px;
    font-family: Pretendard ExtraBold;
    font-size: 20px;
}

.container{
    display: grid;
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 250px;
    grid-gap: 7rem;
    
}
.image{
    margin-left: auto;
    margin-right: auto;
    /* border: 1px solid black; */
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.nav-link:hover{
    background-color: rgb(210, 200, 188);
    border-radius: 4px
}
figcaption{
    padding-top: 10px;

}
.dog_figure{
    font-family: Pretendard SemiBold;
}
.dog_figure b{
    font-family: Pretendard ExtraBold;
}
h2{
    font-family: Pretendard ExtraBold;
    font-size: 60%;
    text-align: center;
    padding-bottom: 60px;
}
#h2{
    color: rgb(107, 92, 73);
}
#delete{
    margin-top: 200px;
    text-align: center;
}
